<style>
  .houseofblooms-custom-fields textarea, .houseofblooms-custom-fields input {
    width: 100%;
  }
</style>
<div class="houseofblooms-custom-fields">
  <p class="line-item-property__field">
    <label for="recipient">Recipient's name</label>
    <input id="recipient" type="text" name="properties[Recipient]">
  </p>
  <p class="line-item-property__field">
    <label for="message">Message to recipient</label>
    <textarea id="message" type="textarea" name="properties[Message]"></textarea>
  </p>
</div>